<div class="content-container">
  <div class="mat-display-1 text-center">Account Settings</div>
  <p>This page allows you to control your account and related settings.</p>
  <hr />
  <h1>Delete Account</h1>
  <p>
    Deleting the account will permanently remove your record and associated data
    from our system.
  </p>
  <p class="mat-body-2">NOTE! This action is irreversible.</p>
  <button mat-raised-button color="warn" (click)="openDialog()">
    <mat-icon>delete_forever</mat-icon>
    <span>Delete Account</span>
  </button>
</div>
