<div class="content-container">
  <div class="blogpost-container">
    <div class="blogpost-body">
        <h1>
          How to build a project with ASP.Net Web API and Angular
        </h1>
        <h2>Summary</h2>
        <p>
          This article will guide you through step by step creation of a starting
          point project with ASP.NET 5 Web API as backend and Angular 11 as a
          frontend.
        </p>
        <h2>Prerequisites</h2>
        <p>
          In order to follow this guide as a minimum you will need the following:
        </p>
        <ul>
          <li>PC or Laptop with Windows 10 operating system</li>
          <li>Internet Connectivity</li>
          <li>
            Administrator priviliges to be able to install new software on your
            development machine
          </li>
        </ul>
        <h2>Installation of necessary software</h2>
        <app-formatted-code language="css" [code]="cssSnippet"></app-formatted-code>
      </div>     
  </div>
</div>

