.headline-section {
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.headline-text {
  font-size: 28px;
  line-height: 36px;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
