<div style="margin-top: 100px; margin-left: 50px">
  <button mat-raised-button color="primary" (click)="getGeneric400error()">
    400 generic
  </button>
  <br /><br />
  <button mat-raised-button color="primary" (click)="getValidation400error()">
    400 validation
  </button>
  <br /><br />
  <button mat-raised-button color="primary" (click)="get401error()">401</button>
  <br /><br />
  <button mat-raised-button color="primary" (click)="get404error()">404</button>
  <br /><br />
  <button mat-raised-button color="primary" (click)="get500error()">500</button>
</div>
