<div class="content-container">
  <div class="mat-headline">Sitemap</div>
  <div class="mat-subheading-1">
    The sitemap lists all URLs that can be accessed while navigating this
    portal. The main purpose of this page is to improve SEO.
  </div>
  <a href="/">Home</a>
  <a href="/blog">Blog</a>
  <a href="/contact">Contact Us</a>
  <a href="/privacy-statement">Privacy Statement</a>
  <a href="/manage-privacy">Privacy Settings</a>
  <a href="/how-to-build-project-with-asp-web-api-and-angular">How to build a project with ASP.NET 5 Web API and Angular 11</a>
</div>
