.form-field {
  width: 100%;
  padding-bottom: 5px;
}

.form-field-small {
  width: 45%;
  padding-right: 5px;
  padding-bottom: 5px;
}

.flex-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.form {
  background-color: rgba(245, 245, 245, 0.8);
  padding: 2%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 60px;
}

.form-small {
  background-color: rgba(245, 245, 245, 0.8);
  padding: 2%;
  margin-top: 60px;
}

.error-summary {
  font-size: 75%;
  padding-top: 5px;
  padding-left: 12px;
  padding-right: 12px;
}

.error-summary-small {
  font-size: 75%;
  padding-top: 0px;
  padding-left: 12px;
  padding-right: 12px;
}

button {
  margin-bottom: 5px;
}

.checkbox {
  margin-bottom: 10px;
}

.checkbox-error {
  font-size: 75%;
  padding-left: 12px;
  padding-right: 12px;
}

.privacy-notice {
  text-align: center;
  font-size: 75%;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  margin-bottom: 0px;;
}

.privacy-notice-small {
  text-align: center;
  font-size: 75%;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  margin-bottom: 0px;;
}
