<div class="flex-container">
  <form [formGroup]="registerForm">
    <h1 style="text-align: center">Register</h1>
    <mat-form-field class="form-field" appearance="fill" color="primary">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" autocomplete="off" />
      <mat-error
        *ngIf="
          registerForm.controls.email.hasError('email') &&
          !registerForm.controls.email.hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="registerForm.controls.email.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill" color="primary">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" />
      <mat-error *ngIf="registerForm.controls.password.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <!-- <div class="checkbox">
      <mat-checkbox formControlName="privacyAgreement" color="primary">
        I agree to the privacy terms and conditions
      </mat-checkbox>
      <div class="checkbox-error">
        <mat-error
          class="mat-error"
          *ngIf="registerForm.controls.privacyAgreement.hasError('required')"
        >
          Privacy terms agreement is <strong>required</strong>
        </mat-error>
      </div>
    </div> -->
    <button
      mat-raised-button
      color="primary"
      (click)="register()"
      [disabled]="!registerForm.valid"
    >
      Register
    </button>
    <div *ngIf="validationErrors.length > 0">
      <mat-error *ngFor="let error of validationErrors" class="error-summary">{{
        error
      }}</mat-error>
      
    </div>
    <hr>
    <p class="privacy-notice">
      By signing up you agree for your data to be used as described in our
      <a routerLink="/privacy-statement">Privacy Statement</a>.
    </p>
  </form>
</div>
