.headline-section {
    background-image: url(../../assets/background.min.svg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.headline-text {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding-bottom: 100px;
}