<section class="headline-section">
  <div class="headline-text">
    <div style="text-transform: uppercase">
      Welcome to Symartsoft.<br />Portal for software engineers, gamers and IT
      specialists.
    </div>
    <a mat-raised-button routerLink="/about" color="accent"
      ><span style="font-weight: bold">ABOUT</span></a
    >
    <a
      mat-raised-button
      routerLink="/blog"
      color="accent"
      style="margin-left: 20px"
      ><span style="font-weight: bold">BLOG</span></a
    >
  </div>
</section>
