<section class="headline-section main-site-background">
  <div class="headline-text">
    <div class="capitalise">
      Welcome to Symartsoft.<br />Portal for software engineers and IT
      specialists.
    </div>
    <a mat-raised-button href="#about" color="accent" style="margin-right: 20px;"
      ><span>ABOUT</span></a
    >
    <a
      mat-raised-button
      routerLink="/blog"
      color="accent"
      ><span>BLOG</span></a
    >
  </div>
</section>
<div class="anchor"><span id="about"></span></div>
<app-about></app-about>

