.headline-section {
  background-position: center;
  background-size: cover;
  height: 100vh;
  scroll-behavior: smooth;
}

.headline-text {
  font-size: 28px;
  line-height: 36px;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.anchor {
  position:relative;
  width: 0; 
  height: 0px;
}

.anchor span {
  position: absolute;
  top: -56px;
}

  
