<mat-toolbar class="main-navbar mat-elevation-z4 main-site-background">
  <div class="mobile-menu" *ngIf="showMobileMenu">
    <button mat-icon-button [matMenuTriggerFor]="mobileMenu" class="nav-link">
      <mat-icon class="nav-icon">menu</mat-icon>
    </button>
    <mat-menu #mobileMenu="matMenu">
      <a routerLink="/" class="color-primary menu-item-link" mat-menu-item>
        <mat-icon color="primary" class="menu-item-icon">home</mat-icon>
        <span class="menu-item-text">HOME</span>
      </a>
      <mat-divider></mat-divider>
      <a routerLink="/blog" class="color-primary menu-item-link" mat-menu-item>
        <mat-icon color="primary" class="menu-item-icon">article</mat-icon>
        <span class="menu-item-text">BLOG</span>
      </a>
      <mat-divider
        *ngIf="(authService.currentUser$ | async) === null"
      ></mat-divider>
      <a
        routerLink="/signin"
        class="color-primary menu-item-link"
        *ngIf="(authService.currentUser$ | async) === null"
        mat-menu-item
      >
        <mat-icon color="primary" class="menu-item-icon"
          >account_circle</mat-icon
        >
        <span class="menu-item-text">SIGN IN</span>
      </a>
    </mat-menu>
  </div>

  <a mat-button routerLink="/" class="nav-link" *ngIf="!showMobileMenu">
    <mat-icon class="nav-icon">home</mat-icon>
    <span class="mat-title title"> {{ title }}</span>
  </a>
  <a
    mat-button
    routerLink="/blog"
    routerLinkActive="active"
    class="nav-link"
    *ngIf="!showMobileMenu"
  >
    BLOG
  </a>
  <span class="spacer"></span>
  <a
    mat-button
    routerLink="/signin"
    *ngIf="(authService.currentUser$ | async) === null && !showMobileMenu"
    class="nav-link"
  >
    SIGN IN
  </a>

  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    *ngIf="authService.currentUser$ | async"
    class="nav-link"
  >
    <mat-icon class="nav-icon">account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div class="color-primary">
      <div class="user-email">
        <mat-icon
          color="primary"
          class="menu-item-icon"
          style="margin-right: 16px"
          >account_circle</mat-icon
        >
        <span class="menu-item-text">{{
          (authService.currentUser$ | async)?.email
        }}</span>
      </div>
    </div>
    <mat-divider></mat-divider>
    <a
      routerLink="/account-settings"
      class="color-primary menu-item-link"
      mat-menu-item
    >
      <mat-icon color="primary" class="menu-item-icon">settings</mat-icon>
      <span class="menu-item-text">Account Settings</span>
    </a>
    <mat-divider></mat-divider>
    <a (click)="logout()" class="color-primary menu-item-link" mat-menu-item>
      <mat-icon color="primary" class="menu-item-icon">exit_to_app</mat-icon>
      <span class="menu-item-text">Sign Out</span>
    </a>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menu1" class="nav-link">
    <mat-icon class="nav-icon">settings</mat-icon>
  </button>
  <mat-menu #menu1="matMenu">
    <a
      routerLink="/manage-privacy"
      class="color-primary menu-item-link"
      mat-menu-item
    >
      <mat-icon color="primary" class="menu-item-icon">privacy_tip</mat-icon>
      <span class="menu-item-text">Privacy Settings</span>
    </a>
  </mat-menu>
</mat-toolbar>
