.form-field {
  width: 100%;
  padding-bottom: 5px;
}

.form-field-small {
  width: 45%;
  padding-right: 5px;
  padding-bottom: 5px;
}

.flex-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.form {
  background-color: rgba(245, 245, 245, 0.8);
  padding: 2%;
  margin: 5%;
}

.form-small {
  background-color: rgba(245, 245, 245, 0.8);
  padding: 2%;
  margin-top: 50px;

}

.error-summary {
  font-size: 75%;
  padding-top: 5px;
}

p {
  margin-top: 15px;
}

button {
  margin-bottom: 5px;
}
