<div class="content-container">
  <h1>Privacy Statement</h1>
  <p>
    This privacy statement explains Symarsoft portal's policies regarding what
    personal data is collected and processed; how it is used and/or shared with
    third parties and for what purposes.
  </p>
  <h2>Personal data this portal collects</h2>
  <p>
    Symartsoft collects data from you through your interaction with the portal.
    The collected data depends on the context of your interactions with
    Symartsoft and on your privacy settings. You have choices when it comes to
    the data you share. When portal asks you to provide your personal data you
    can decline. Some of the portal features require some personal data in order
    to function and if you choose not to provide the data you will not be able
    to function. In cases where the personal data is optional and if you choose
    not to share the data, related features like personalisation will not work
    for you.
  </p>
  <h2>How your data is used</h2>
  <p>The data we collect is used for:</p>
  <ul>
    <li>Providing features like ability to register and login</li>
    <li>
      Analytics, which includes sharing data with third parties that provide
      analytics services
    </li>
    <li>
      Improvements and developement of Symartsoft features, products and
      services
    </li>
    <li>Personalization of your experience</li>
    <li>Advertising</li>
  </ul>
  <h2>Privacy Settings and Data Control</h2>
  <p>
    Symartsoft uses cookies and similar technologies for storing your
    preferences, enabling you to sign in, for analytics and advertising. You can
    choose not to share any of your data by:
  </p>
  <ul>
    <li>
      Choosing not to accept cookies when the cookie banner is presented to you
    </li>
    <li>Choosing not to use account services provided by Symartsoft</li>
    <li>
      Changing your settings on the <a routerLink="">Manage Privacy</a> page
    </li>
  </ul>
  <p>
    In order to delete the personal data shared as part of creating an account
    on Symartsoft portal you can delete the the account in your account
    settings.
  </p>
</div>
