h1 {
flex-basis: 1200px;
}


section {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  flex-basis: 260px;
  align-self: left;
}

p {
  max-width: 1200px;
}

.text-container {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.ul-container {
    flex-basis: 1200px;
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
}

.icon-header {
    display:flex;
    justify-content: left;
    align-items: center;
}

.icon {
    margin-bottom: 16px;
    font-size: 36px;
    height: 36px;
    line-height: 36px;
    width: 36px;
}

