<section>
  <h1 class="mat-display-1">About Symartsoft</h1>
  <div class="flex-container">
    <div class="text-container">
      <p>
        Symartsoft is a multipurpose web application. As a starting point the
        portal will function as a blog where we can experiment, learn, share and
        showcase software development related knowledge and ideas. The future
        roadmap remains open, and the portal can evolve into variety of things
        including becoming a social hub, portfolio website, SaS provider, e-shop
        or anything else.
      </p>
    </div>
    <div class="text-container">
      <h2>Technologies Used</h2>
    </div>   
    <div class="text-container">
      <p>
        We thrive to use cutting edge technologies, methodologies and design
        principles to have robust, flexible, maintainable and highest quality
        software. The above incudes adopting Agile development, Test Driven
        development, SOLID and DRY principles, DevOps practices.
      </p>
    </div>
    <div class="ul-container">
      <ul>
        <div class="icon-header">
          <mat-icon class="icon" color="primary">dns</mat-icon>
          <h3> Backend:</h3>
        </div>
        <li>ASP.Net 5 Web API</li>
        <li>NGINX</li>
        <li>Docker</li>
        <li>Azure Container Instances</li>
        <li>Linux (Ubuntu)</li>
        <li>Serilog</li>
        <li>ASP Identity</li>
        <li>JWT token authentication/authorization</li>
        <li>xUnit and Mock for testing</li>
      </ul>
      <ul>
        <div class="icon-header">
          <mat-icon class="icon" color="primary">web</mat-icon>
          <h3> Frontend:</h3>
        </div>
        <li>Angular 11</li>
        <li>Angular Material</li>
        <li>Karma and Jasmine for testing</li>
      </ul>
      <ul>
        <div class="icon-header">
          <mat-icon class="icon" color="primary">sd_storage</mat-icon>
          <h3> Data:</h3>
        </div>
        <li>Azure SQL databases</li>
        <li>Entity framework</li>
        <li>Azure Key Vault</li>
      </ul>
      <ul>
        <div class="icon-header">
          <mat-icon class="icon" color="primary">construction</mat-icon>
          <h3> CI/CD:</h3>
        </div>
        <li>Github Actions</li>
        <li>Github Projects</li>
        <li>Docker Hub</li>
        <li>Azure CLI</li>
      </ul>
    </div>
  </div>
</section>
