<footer class="main-site-background-plain">
  <ul>
    <h5>Website</h5>
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a routerLink="/blog">Blog</a>
    </li>
  </ul>
  <ul>
    <h5>Privacy</h5>
    <li>
      <a routerLink="/privacy-statement">Privacy Statement</a>
    </li>
    <li>
      <a routerLink="/manage-privacy">Privacy Settings</a>
    </li>
  </ul>
  <ul>
    <h5>Other</h5>
    <li>
      <a href="/contact">Contact Us</a>
    </li>
    <li>
      <a href="#">Site Map</a>
    </li>
  </ul>
  <div class="copyright">Copyright &#169; Symartsoft 2021</div>
</footer>
