<footer class="main-site-background-plain">
  <ul>
    <h5>Website</h5>
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Blog</a>
    </li>
  </ul>
  <ul>
    <h5>Privacy</h5>
    <li>
      <a href="#">Privacy Statement</a>
    </li>
    <li>
      <a href="#">Privacy Settings</a>
    </li>
  </ul>
  <ul>
    <h5>Other</h5>
    <li>
      <a href="#">Contact Us</a>
    </li>
    <li>
      <a href="#">Site Map</a>
    </li>
  </ul>
  <div class="copyright">Copyright &#169; Symartsoft 2021</div>
</footer>
